body, html {
    height: 100%;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/rizudesu/image/upload/v1574442758/banner9_cittim.jpg");
  height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content {
  width: 100%;
  display:flex;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 5vw;
}
.hero-text {
  color: white;
  flex-grow: 1;
}
.hero-media {
  ul {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}
.hero-media li {
  margin-bottom: 20px;
  text-align: center;
  border: 1.5px solid white;
  border-radius: 50%;

  &:last-child {
   margin: 0;
  }
}
.btn {
  background: #F5B130;
  color:white;
  border-radius: 20px;
}
.btn:hover {
  background: #E4BD56;
  color: white;
}

@media screen and (min-width: 901px) {
  .hero-content {
      h1 {
      font-size: 80px;
    }
      p {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }
    .hero-media {
      ul {
      padding: 0;
      justify-content: center;
    }
  }
}
@media screen and (max-width: 900px) {
  .hero-content {
    margin-top: 50vh;

    h1 {
      font-size: 54px;
    }
    p {
      font-size: 16px;
      margin-bottom: 30px;
    }
  }
  .hero-media {
    ul {
      padding: 50% 0 0 0;
      justify-content: space-between;
    }
  }
}
