<%= render 'shared/navbar_home' %>
<div class="hero-image">
  <div class="hero-content">
    <div class="hero-text">
      <h1>Neighboroo</h1>
      <p>All you need, just a hop away!</p>
      <button class="btn py-2">Get started</button>
    </div>
    <div class="hero-media">
      <ul style="list-style: none;">
        <li><a href="https://www.facebook.com/" target="_"><i style="color: white; padding: 7px;" class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://twitter.com/" target="_"><i style="color: white; padding: 7px;" class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/" target="_"><i style="color: white; padding: 7px;" class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
</div>

