.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 5vw 0 5vw;
  //position: absolute;
  width: 100%;
  align-items: center;
  height: 15vh;
  //border: 1px solid red;
}
.footer-col {
  width: 20%;
}
.footer-logo-col {
  display: flex;
  justify-content: center;
}
.footer-logo {
  width: 150px;
  height: 150px;
  margin: auto;
  position: relative;
  bottom: 80px;
  border-radius: 50%;
}
.footer-media-col {
  p  {
 text-align: center;
}
}
.footer-media {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
   padding-left: 0;
  li {
    width: 30px;
    height: 30px;
    text-align: center;
    margin-bottom: 10px;
    text-align: center;
    border: 1.5px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:last-child {
    margin: 0;
  }
  i {
    color: black;
    padding: 7px;
  }
  p {
    //margin-right: 30px;
    //margin-top: 40%;
    margin-left: 10px;
  }
}
