// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "mapbox-gl";

.hero-image {
  position: relative;
  width: 100%;
}

.search.bar {
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
  .search-form {
    position: relative;
    #search-form-button {
      position: absolute;
      top: 5px;
      right: 7px;
      padding: 12px;
      border-radius: 36px;
    }

    #query {
      height: 60px;
      border-radius: 30px;
      border: none;
      box-shadow: 0 4px 5px lightgray;
    }
  }
}

.item-card {
  //overflow: hidden;
  height: 200px;
  background: white;
  //box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  //align-items: center;
}

.item-card-photo {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.item-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
}

.item-card p {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  height: 64px;
}

.item-card .item-card-infos {
  padding: 32px 16px 16px 16px;
  height: 200px;
}

.item-card-infos-link {
  color: black;
}

.item-card-infos-link:hover {
  color: grey;
  text-decoration: none;
}

.item-card {
  position: relative;
  //display: inline-block;
}

.item-card:hover .item-edit {
  display: block;
}

.item-edit {
  position: absolute;
  padding-right: 20px;
  right: 5px;
  top: 2px;
  display: none;
  z-index: 2;
}

.index-link {
  position: absolute;
  padding-right: 20px;
  right: -6px;
  top: 175px;
  color: #f5b130;
}

.index-link:hover {
  color: #e4bd56;
  text-decoration: none;
}

.item-edit .fas {
  color: lightgrey;
  font-size: 24px;
}

.item-edit .fas:hover {
  text-shadow: 0 2px 3px lightgrey;
  color: darkgrey;
}

.neighboroo {
  position: relative;
  font-size: 42px;
  color: #B15132;
}

@font-face {
  font-family: 'Domaine Display Regular';
  src: url('/app/assets/fonts/Domaine Display Regular/fonts/DomaineDispRegular.woff')
}
@font-face {
  font-family: 'Domaine Display Narrow Regular';
  src: url('/app/assets/fonts/Domaine Display Narrow Regular/fonts/DomaineDispNar-Regular.woff')
}
@font-face {
  font-family: 'Domaine Display Semibold';
  src: url('/app/assets/fonts/Domaine Display Semibold/fonts/DomaineDisp-Semibold.woff')
}
