.navbar {
  background: #60CA58;
  justify-content: space-between;
  padding: 5vw;
  position: absolute;
  width: 100%;
}

.logo {
  border-radius: 50%;
  width: 120px;
}

.pointer {
  cursor: pointer;
}

